<div class="parent">

	<div class = "two-col">
        <div class = "words">

            <h2>file submission</h2>
			<form (submit)="submitForm()" enctype="multipart/form-data">
				<div>
					<label for="file">select file:</label><br><br>
					<input type="file" class="file-input" id="file" (change)="onFileChange($event)" />
				</div>
				<br><button class="button" type="submit">submit file</button>
			</form>
            
        </div>
        <div class = "upload">
                <h2> {{ getItem("challenge_name") }}</h2>
                <p>{{ getItem("challenge_desc") }}</p>
                <p> public start date: {{ getItem("public_start_date") }}</p>
                <p> public end date: {{ getItem("public_end_date") }}</p>
                <p> private start date: {{ getItem("private_start_date") }}</p>
                <p> private end date: {{ getItem("private_end_date") }}</p>
                <button class="button"(click) = "downloadFile()"> download sample dataset </button>
        </div>
    </div>
</div>	
