<div *ngIf="validInfo"> 
    
    <div class = "parent">
        <div class = "child">
            <h1 class = "title"> create new account </h1>
            <div class="two-col">
                <div class="first">
                    <p>first name</p>
                    <input class="input" type="text" placeholder='your first name' [(ngModel)]="first">
                </div>
                <div class="last">
                    <p>last name</p>
                    <input class="input" type="text" placeholder='your last name' [(ngModel)]="last">
                </div>
            </div><br>

            <p>your email (@chevron.com)</p>
            <input class="input" type="text" placeholder='enter email' [(ngModel)]="email">
            
            <p>password</p>
            <body>
                minimum password requirements: <br>
                 - 8 letters <br>
                 - 1 capital<br>
                 - 1 number<br>

            </body>
	    <input class="input" type="password" placeholder='enter password' [(ngModel)]="passwordOne" pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d@$!%*?&]{8,}$">
            <p>confirm password</p>
	    <input class="input" type="password" placeholder='enter password' [(ngModel)]="passwordTwo" pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d@$!%*?&]{8,}$">
            <br><br>
            <div class = "button">
                <button class="button"(click) = "createAccount()"> sign up!</button>
            </div>
            
        </div><br>
    </div>
</div>

    
<div class = badInfo *ngIf="!validInfo">

    <h1>uh oh!</h1>
    <p>one or more of your entires was either invalid or missing entirely. your email may also be a duplicate. please try again.</p>
    <button class="button"(click) = "validInfo = true"> try again</button>
</div>